:root
  --primary #005bc3
  --secondary #ff931e
  --primaryDark #016da9
  --gray #5d6a79
  --lightGray #a09c9c
  --white #f7faff
  --black #424549

body
  background-color var(--primary)
  color var(--black)

h1, h2, h3, h4, h5, h6
  margin 12px 0
  padding 0

li, ul
  margin 0
  padding 0
  list-style none

a
  color var(--secondary)

.card
  background-color var(--white)
  padding 24px
  padding-top 12px
  border-radius 0 0 3px 3px
  margin-bottom 24px
  box-shadow 1px 2px 3px var(--gray)
  border-top 3px solid var(--secondary)

.whiteText
  color var(--white)

.whiteBg
  background var(--white)