$primary = #005bc3
$secondary = #ff931e
$primaryDark = #016da9
$gray = #5d6a79
$lightGray = #a09c9c
$white = #f7faff
$black = #424549

body
  background-color $primary
  color $black

h1, h2, h3, h4, h5, h6
  margin 12px 0
  padding 0

li, ul
  margin 0
  padding 0
  list-style none

a
  color $secondary

.card
  background-color $white
  padding 24px
  padding-top 12px
  border-radius 0 0 3px 3px
  margin-bottom 24px
  box-shadow 1px 2px 3px $gray
  border-top 12px solid $secondary

.whiteText
  color $white

.whiteBg
  background $white